/*** TABLE BOLLOCKS ***/

div.grid-view {
	color: #fff;
	font-size: 12px;
}

	div.grid-view div.summary {
		float: right;
		text-transform: uppercase;
		padding: 10px;
		background: #000;
	}

	div.grid-view div.pager {
		text-align: center;
		margin-top: 10px;
		margin-bottom: 10px;
	}
		div.grid-view div.pager ul {
			margin-left:auto;
			margin-right:auto;
		}
			div.grid-view div.pager ul li {
				display: inline-block;
				padding: 5px 10px 5px 10px;
				margin: 5px 1px 0px 0px;
				background: #000;
				text-transform: uppercase;
				font-size: 10px;
			}
				div.grid-view div.pager ul li a {
					display: block;
					padding: 5px 10px 5px 10px;
					margin: -5px -10px -5px -10px;
				}
					div.grid-view div.pager ul li a:hover {
						background: #da2a2a;
						text-decoration: none;
					}

table.items {
	clear: both;
	display: table;
	width: 100%;
	border-spacing: 0;
	background: url(../images/black50.png) repeat;
	text-align: center;
	vertical-align: middle;
}

	table.items thead {
		background: url(../images/black75.png) repeat;
		text-transform: uppercase;
	}
		table.items thead th {
			padding: 0px;
			weight: normal;
			font-size: 10px;
			padding: 5px 10px 5px 10px;
		}
			table.items thead th a {
				color: #fff;
				display: block;
				padding: 5px 10px 5px 10px;
				margin: -5px -10px -5px -10px;
				weight: normal;
				font-size: 10px;
			}
				table.items thead th a:hover {
					background: #da2a2a url(../images/table-arrow.png) no-repeat center bottom;
					text-decoration: none;
				}


	table.items div.splittext {
		float: left;
		padding: 10px 20px 10px 20px;
		background: #000;
		margin-top: 10px;
	}
		table.items div.splittext a {
			padding: 10px 20px 10px 20px;
			margin-right: 10px;
			margin-left: -20px;
			text-transform: uppercase;
			font-weight: bold;
		}
			table.items div.splittext a:hover {
				text-decoration: none;
				background: #da2a2a;
				color: #fff;
			}

	table.items div.videoaudio {
		float: left;
		padding: 5px 10px 5px 10px;
		background: url(../images/cross-back.png) repeat;
		text-transform: uppercase;
		font-style: italic;
	}


	/*** ROWS ***/

	table.items tr.odd td,
	table.items tr.even td {
		padding: 5px;
		font-size: 10px;
		text-transform: uppercase;
	}

	table.items tr.odd {
		background: url(../images/black50.png) repeat;
	}

	table.items tr.even {
		background: #000;
	}

	table.items td.cDate,
	table.items td.cLocation {
		text-align: left;
	}

		/*** VIEW ICON ***/

		table.items td.cButtons {
			background: url(../images/view2.png) no-repeat;
			background-position: center center;
			display: block;
			padding: 5px;
		}
			table.items td.cButtons:hover {
				background: url(../images/view2.png) #da2a2a center center no-repeat;
				background-position: center center;
			}
			
			table.items td.cButtons a.view {
				display: block;
				width: 20px;
				height: 20px;
				padding: 5px;
				margin: -5px;
			}

				table.items td.cButtons a.view img {
					display: none;
				}


		table.items td.cTradeStatus {
			color: #da2a2a;
		}