#phpRecDbInfo {
	color:#FFFFFF;
        background: transparent;
        width:790px;
	border:0px;
	margin-left:auto;
	margin-right:auto;
}
#phpRecDbInfo #headerinfo,
#phpRecDbInfo .infobox {
   	background-color:#5F0000;
	border:#29010A solid 5px;
        margin:5px;
	padding:3px; 
}

#phpRecDbInfo #headerinfo label,
#phpRecDbInfo .infobox label {
     color:#FF0000;
    
}

#phpRecDbInfo .infobox {
        text-align:left;
}
#phpRecDbInfo #headerinfo{

    overflow: hidden;
}

#phpRecDbInfo #tradestatus{
	color:#FF0000;
}

#phpRecDbInfo #concertinfo {
	text-align:center;
}

#phpRecDbInfo label {
	font-weight:bolder;
}

#phpRecDbInfo img {
	margin: 0;
	padding: 0;
	border:0;
}
#phpRecDbInfo #dates{
	float:right;
}
#phpRecDbInfo #tradestatus{
	font-weight:bolder;
	float:left;
        padding-left: 10px;
}
#phpRecDbInfo #videooraudio{
	font-style: italic;
	float:left;
        font-weight: bolder;
}

