/*** NAV ***/

div#nav-bar ul li {
	background: #000;
	color: #fff;
	font-size: 14px;
	font-weight: lighter !important;
	text-transform: uppercase;
	padding: 5px;
}
div#nav-bar ul li ul {
	margin-top: 10px;
}

div#nav-bar ul li:hover {
	background: #da2a2a;
	color: #fff;
	text-decoration: none;
}

div#nav-bar ul li.parent ul li a {
	background: transparent;
	color: #fff;
	font-size: 12px;
	text-transform: uppercase;
}
