#navBar {
    text-align: center;
    font-size: 0.8em;
    margin-top: 5px;
    margin-bottom: 15px;

}

#navBarLinks {
    background-color:#DDDDDD;
    padding: 4px;
}

#navBar A {
    TEXT-DECORATION: none;
    font-weight:bold;
}
#navBar A:hover {
    TEXT-DECORATION: underline;
    font-weight:bolder;
}