/*css for autocomplete result scrolling START */

.ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}
/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
*/
* html .ui-autocomplete {
    height: 100px;
}

/*css for autocomplete result scrolling END */


#content {
    margin-top: 40px;
    padding: 10px;
}

.recordsInlay
{
    position: relative;
    margin: 15px 0;
    padding: 7px 7px 7px 75px;
    background-color: white;
    border: 1px solid #BBB;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.recordsInlay::after
{
    content: "Records";
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    background-color: whiteSmoke;
    border: 1px solid #BBB;
    color: #555555;
    -webkit-border-radius: 4px 0 4px 0;
    -moz-border-radius: 4px 0 4px 0;
    border-radius: 4px 0 4px 0;
}

.bootstrap-box-small {
    margin: 0 auto;
    max-width:600px
}

.bootstrap-box-big {
    margin: 0 auto;
    max-width: 1200px;
}

/* edit record mene layout  */
#all {
    width:100%; height: 100%;  overflow:auto;
}

#left {	
    height: 100%;  width:30%; min-width:150px; float:left; 
}

#middle {
    height: 100%;  width:30%; min-width:150px; float:left; 
}
#right {
    height: 100%;  width:40%; min-width:150px; float:right; 
}
#all {
    margin: 0 auto;
}
#all input, #all select {

    width:90%;  
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 25pt;
}
#right textarea  {
    width:95%;
    height: 190px;
}

#left {
    padding: 0px;
}

/* a tabs navigation in bootstrap well layout  */
.well-tabnav .tab-content {
    padding: 19px;
    background-color: #F5F5F5;
    border:  solid #BBB;
    border-left: 1px solid #BBB;
    border-right:  1px solid #BBB;
    border-bottom:  1px solid #BBB;
    border-top: 0px;

    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius:4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05)
}
.well-tabnav .nav {
    margin-bottom: 0;
}
.well-tabnav li.active a {
    border-color: #BBB #BBB transparent #BBB;
    background-color:#F5F5F5;
}
.well-tabnav li a { 
    border-color: #BBB;
}

#artistMenu #nav-bar
{
   margin-left: auto;
   margin-right: auto;
}