/*css for autocomplete result scrolling BEGIN */

.ui-autocomplete-loading {
    background-image: url(../images/loading.gif);
    background-position: right center;
    background-repeat: no-repeat;
}


.ui-autocomplete {
    max-height: 100px;
    overflow-y: auto;
    /* prevent horizontal scrollbar */
    overflow-x: hidden;
}
/* IE 6 doesn't support max-height
 * we use height instead, but this forces the menu to always be this tall
*/
* html .ui-autocomplete {
    height: 100px;
}

/*css for autocomplete result scrolling END */


#content {
    margin-top: 60px;
    padding: 10px;
}

.detail-view {
    margin-bottom: 20px !important;
}

.recordsInlay
{
    position: relative;
    margin-bottom: 15px;
    padding: 7px 7px 7px 75px;
    background-color: white;
    border: 1px solid #BBB;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.recordsInlay::after
{
    content: "Records";
    position: absolute;
    top: -1px;
    left: -1px;
    padding: 3px 7px;
    font-size: 12px;
    font-weight: bold;
    background-color: whiteSmoke;
    border: 1px solid #BBB;
    color: #555555;
    -webkit-border-radius: 4px 0 4px 0;
    -moz-border-radius: 4px 0 4px 0;
    border-radius: 4px 0 4px 0;
}

.bootstrap-box-small {
    margin: 0 auto;
    max-width:600px
}

.bootstrap-box-big {
    margin: 0 auto;
    max-width: 1200px;
}

/* edit record menu layout  */
#all {
    width:100%; height: 100%;  overflow:auto;
}

#left {	
    height: 100%;  width:30%; min-width:150px; float:left; 
}

#middle {
    height: 100%;  width:30%; min-width:150px; float:left; 
}
#right {
    height: 100%;  width:40%; min-width:150px; float:right; 
}
#all {
    margin: 0 auto;
}
#all input, #all select {

    width:90%;  
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    height: 25pt;
}
#right textarea  {
    width:95%;
    height: 190px;
}

#left {
    padding: 0px;
}

/* a tabs navigation in bootstrap well layout  */
.well-tabnav .tab-content {
    padding: 19px;
    background-color: #F5F5F5;
    border:  solid #BBB;
    border-left: 1px solid #BBB;
    border-right:  1px solid #BBB;
    border-bottom:  1px solid #BBB;
    border-top: 0px;

    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius:4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.05)
}
.well-tabnav .nav {
    margin-bottom: 0;
}
.well-tabnav li.active a {
    border-color: #BBB #BBB transparent #BBB;
    background-color:#F5F5F5;
}
.well-tabnav li a { 
    border-color: #BBB;
}

#artistMenu #nav-bar
{
   margin-left: auto;
   margin-right: auto;
}

/* navbar submenu definitions BEGIN

submenus were removed in bootstrap 3:  "Submenus just don't have much of a place on the web right now, especially the mobile web. They will be removed with 3.0" - https://github.com/twbs/bootstrap/pull/6342
 */

.dropdown-submenu {
    position:relative;
}
.dropdown-submenu>.dropdown-menu {
    top:0;
    left:100%;
    margin-top:-6px;
    margin-left:-1px;
    -webkit-border-radius:0 6px 6px 6px;
    -moz-border-radius:0 6px 6px 6px;
    border-radius:0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display:block;
}
.dropdown-submenu>a:after {
    display:block;
    content:" ";
    float:right;
    width:0;
    height:0;
    border-color:transparent;
    border-style:solid;
    border-width:5px 0 5px 5px;
    border-left-color:#cccccc;
    margin-top:5px;
    margin-right:-10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color:#ffffff;
}
.dropdown-submenu.pull-left {
    float:none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left:-100%;
    margin-left:10px;
    -webkit-border-radius:6px 0 6px 6px;
    -moz-border-radius:6px 0 6px 6px;
    border-radius:6px 0 6px 6px;
}

/* navbar submenu definitions END */

.btn-dark {

    background-color: #000000;
    border-color: #000000;
    color: #fff;
}

.btn-dark:hover,
.btn-dark:focus,
.btn-dark:active {
    background-color: #666;
    border-color: #000000;
    color: #fff;
}

.recordsInlay .nav a {
    padding: 3px;
}
.recordsInlay .active a:hover,
.recordsInlay .active a {
    background-color: #0088CC;
    color: #FFFFFF;
}


