
#phpRecDbInfo #infopage {
	background: #FEEFD0 !important;
}
#phpRecDbInfo #recordinginfo,#participants, #setlist, #notes, #screenshots,#youtubesamples {
	background-color:#89AB61 !important;
	border:#8B8636 solid 5px !important;
}
#phpRecDbInfo #headerinfo{
        background-color:#89AB61 !important;
	border:#8B8636 solid 5px !important;
}

#phpRecDbInfo #tradestatus{
	color:#9C2A00 !important;
}