#sign {
	margin-top:30px;
	text-align: center;
}
#sign A {
	text-decoration: underline;
	font-weight:bold;
}
#sign A:hover {
	text-decoration: none;
	font-weight:bolder;
}

#content {
    width: 900px; margin-left: auto;margin-right: auto; margin-top: 20px;
}

.contentSize {
    font-size: 0.7em
}