.grid-view .splittext
{
        background:#FFFFFF; 
        font-weight:bold;
        color: #0000FF;
        padding: 15px;
        float: left; 
}

.grid-view .yearselector
{
 
        font-weight:bold;
        color: #0000FF;
        padding: 20px 0px 3px;
        float: right; 
        text-align: right; 
}


.grid-view .videoaudio
{
    margin-top: 7px;
   font-style:  italic;
}

.grid-view-loading
{
	background:url("loading.gif") no-repeat;
}

.grid-view
{
	padding: 15px 0;
}

.grid-view table.items
{
	background: white;
	border-collapse: collapse;
	width: 100%;
}

.grid-view table.items th, .grid-view table.items td
{
	font-size: 0.9em;
        border: 1px white solid;
	padding: 0.15em;
}

.grid-view table.items th
{
	color: white;
	background: url("bg.gif") repeat-x scroll left top white;
	text-align: center;
}

.grid-view table.items th a
{
	color: #EEE;
	font-weight: bold;
	text-decoration: none;
}

.grid-view table.items th a:hover
{
	color: #FFF;
}

.grid-view table.items th a.asc
{
	background:url(up.gif) right center no-repeat;
	padding-right: 10px;
}

.grid-view table.items th a.desc
{
	background:url(down.gif) right center no-repeat;
	padding-right: 10px;
}

.grid-view table.items tr.even td
{
	background: #EDEDED;
}

.grid-view table.items tr.odd td
{
	background: #E5F1F4;
}

.grid-view tbody .cButtons,
.grid-view tbody .cTradeStatus
{
	  background:none !important;

}

.grid-view tbody .link-column
{
	  background:none !important;

}

.grid-view .link-column img
{
	border: 0;
}

.grid-view .button-column {
    width: auto !important;
}

.grid-view .cDate
{
	font-weight: bold;
}

.grid-view .cLocation
{
	font-weight: bold;
}

.grid-view .cArtist
{
	font-weight: bold;
}

.grid-view .button-column img
{
	border: 0;
}

.grid-view .checkbox-column
{
	width: 15px;
}

.grid-view .summary
{
	margin: 0 0 5px 0;
	text-align: left;
}

.grid-view .pager
{
	margin: 5px 0 0 0;
	text-align: right;
}

.grid-view .empty
{
	font-style: italic;
}

.grid-view .filters input,
.grid-view .filters select
{
	width: 100%;
}



/*#yearNav {
    height:1.75em;
    list-style:none;
    background:#CCC;
}
#yearNav li {
    position:relative; set containing block for AP sub ul 
    text-align:right;
    background:#CCC;
}
#yearNav li:hover {
    background:#777;
}
#yearNav a {
    display:block;
    width:150px;
    height:1.75em;
    line-height:1.75em;
    color:#000;
    font-weight:bold;
    text-decoration:none;
}

 ------ Sub UL Drop Down ------ 
#yearNav ul {
    position:absolute;
    left:0;
    top:100%;
    margin-left:-999em; hide the sub ul 
}
#yearNav li:hover ul {
    margin-left:0; reveal the sub ul on li:hover 
}*/












/*
#yearNav{
   
    list-style:none;
    font-weight:bold;
    float:right;  Clear floats 
    width:100%;
     Bring the nav above everything else--uncomment if needed.
    position:relative;
    z-index:5;
    
}
#yearNav li{
    float:right;
    position:relative;
    background:#6b0c36;
}
#yearNav a{
    display:block;
    padding:5px;
    color:#fff;
    background:#333;
    text-decoration:none;
}
#yearNav a:hover{
    color:#fff;
    background:#6b0c36;
    text-decoration:underline;
}

--- DROPDOWN ---
#yearNav ul{
    background:#fff;  Adding a background makes the dropdown work properly in IE7+. Make this as close to your page's background as possible (i.e. white page == white background). 
    background:rgba(255,255,255,0);  But! Let's make the background fully transparent where we can, we don't actually want to see it if we can help it... 
    position:absolute;
    left:-9999px;  Hide off-screen when not needed (this is more accessible than display:none;) 
}
#yearNav ul li{
    float:none;
}

#yearNav li:hover ul{  Display the dropdown on hover 
    left:0;  Bring back on-screen when needed 
}
#yearNav li:hover a{  These create persistent hover states, meaning the top-most link stays 'hovered' even when your cursor has moved down the list. 
    background:#6b0c36;
    text-decoration:underline;
}
#yearNav li:hover ul a{  The persistent hover state does however create a global style for links even before they're hovered. Here we undo these effects. 
    text-decoration:none;
}
#yearNav li:hover ul li a:hover{  Here we define the most explicit hover states--what happens when you hover each individual link. 
    background:#333;
}*/


.nav ul {
  list-style: none;
  text-align: right;
  padding: 0;
  margin: 0;
}

.nav li {
  text-align: left;
  background-color: #444;
}

.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  text-align: center;
  border-bottom: 1px solid #888;
  transition: .3s background-color;
    padding-bottom: 5px;
  padding-top: 5px;
}

.nav a:hover {
  background-color: #005f5f;
}

.nav a.active {
  background-color: #aaa;
  color: #444;
  cursor: default;
}

/* Sub Menus */
.nav li li {

}

/*******************************************
   Style menu for larger screens

   Using 650px (130px each * 5 items), but ems
   or other values could be used depending on other factors
********************************************/


  .nav li {
    width: 130px;
    border-bottom: none;
    display: inline-block;

  }

  .nav a {
    border-bottom: none;
  }

  .nav > ul > li {
    text-align: center;
  }

  .nav > ul > li > a {
    padding-left: 0;
  }

  /* Sub Menus */
  .nav li ul {
    position: absolute;
    display: none;
    width: inherit;
  }

  .nav li:hover ul {
    display: block;
  }

  .nav li ul li {
    display: block;
  }
